{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">    
            <div class="col-lg-8">                    
                <div class="shopping__cart__table">
                
                {% if cart|length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set Total = null %}
                        {% for item in cart %}
                        {% set Total = Total + (item.Produit.Prix * item.quantity) %}
                        
                        <tr>
                                    <td class = "product__cart__item">
                                        <div class = "product__cart__item__pic">
                                            <img src="img/Image.jpg " style = "height: 100px;">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6> {{ item.Produit.Nom }} </h6>
                                            <h5>  {{ item.Produit.Prix|number_format(0,',', '.' ) }} Ar </h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <a href=" {{path('decrement_cart', {id:item.Produit.id})}} ">
                                                    <span class="fa fa-angle-left dec qtybtn"></span>   
                                                </a>
                                                <input type="text" value=" {{item.quantity}} ">
                                                <a href=" {{path('add_cart', {id:item.Produit.id})}} ">
                                                
                                                    <span class="fa fa-angle-right dec qtybtn"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price"> {{( item.Produit.Prix * item.quantity )|number_format(0,',', '.' ) }} Ar </td>
                                    <td class="cart__close">
                                        <a href=" {{ path('remove_cart', {id: item.Produit.id}) }} ">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                  
                                </tr>
                        
                        {% endfor %}
                               
                        </tbody>
                    </table>                   
                    
                {% else %}
                    <h1>panier vide</h1>
                {% endif %}
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href=" {{ path('shop') }} ">Continue Shopping</a>
                            </div>
                        </div>
                    </div>

                </div>       
            </div>

            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total <span style="color:black;"> {{Total|number_format(0,',', '.' ) }} Ar</span></li>
                    </ul>
                    <a href=" {{ path('Acheter')}} " class="primary-btn">Acheter</a>
                </div>
            </div> 
        </div>
                       
    </div>    
</section>
{% endblock %}
