
{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}


{% block body %}
<body>
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src=" img/Image.jpg " alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2> {{Produit.Nom}} </h2>
                            <a href="{{path('shop')}}">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section class="product spad">
            <div class="container">
    
                <div class="row product__filter">
            {% for Produit in Produits|slice(0,8) %}
    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img src=" img/Image.jpg " alt="">
                                
                            </div>
                            <div class="product__item__text">
                                <h6> {{Produit.Nom}} </h6>
                                <a href="{{ path('add_cart', {id:Produit.id}) }}" class="add-cart">+ Add To Cart</a>
                                
                                <h5> {{Produit.Prix}} Ar </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}    
    
                </div>
    
            </div>
        </section>
  
  </body>

{% endblock %}
