{% extends "base.html.twig" %}

{% block body %}
<body>
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for Category in Categories %}
                                                            <li><a> {{Category.Nom}} ( {{Category.Produit|length}} ) </a></li>    

                                                    {% endfor %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            {% for Produit in Produits %}
                            
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">

                                        <img src=" img/Image.jpg " alt="">
                                        <ul class="product__hover">
                                            <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                            <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                            <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6> {{ Produit.Nom }} </h6>
                                        <a href="#" class="add-cart">+ Add To Cart</a>
                                       
                                        
                                        <h5> {{Produit.Prix}} Ar </h5>
                                         
                                    </div>
                                    <a href=" {{path('shop_details', {'id': Produit.id} )  }} ">Details</a>
                                </div>
                            </div>    
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
